<%- include("./partials/head")%>
    <div class="container">
       
        <% if(ideaList.length > 0){%>
        <% ideaList.forEach((idea) => { %>
            <a href="/idea/<%= idea.id %>">
            <div class="card">
                <% let short%>
                <% if(idea.username.length > 8){%>
                    <%short = idea.username.slice(0,8) + '...'%>
                    <h1 class="userName">
                        <%= short %>
                    </h1>
                <%}else{%>
                    <h1 class="userName">
                        <%= idea.username %>
                    </h1>
                    <%}%>
                <hr>

                <% if(idea.idea.length > 15){ %>
                    <% short = idea.idea.slice(0,14) + "...";%>
                    <p>
                        <%= short %>
                    </p>
                    <%}else{%>
                <p><%= idea.idea %></p>
                <%}%>
                <hr>
                <span class="time">
                    <%= moment(idea.time).fromNow(true) %>
                </span>
            </div>
            </a>
        <%});%>
        <%}else{%>
            <h1 class="error">No Ideas...</h1>
            <%}%>
    </div>
<%- include('./partials/foot') %>